.card{
    height: 100%;
    border-radius:10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap:10px;

}
#vmaLabel{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 200px;
    color:white;

}


.bgBlue{
    background-color: #1d4c91;

}

.bgRed{
    background-color: #9d2128;

}

.vmaResult{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 200px;
    color:white;
}

.separator {
    height: 10px;
    width: 100%;
    background-color: #9d2128;
}

h1{
    margin-inline: auto;
    color:#1d4c91;
    font-weight: normal;
    text-transform: uppercase;

}

.section{
    margin-top: 40px;
    padding-top: 60px;
    padding-inline: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    position:relative;
    align-items: center;
   
}

.sectionContent{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.radioGroup{
    padding:5px;
    border: #1d4c91 solid 2px;
    border-radius: 5px;
}

.logo{
    max-width: 50%;
    margin-inline: auto;
}

input[type="radio"]{
    display: none;
}

input[type="radio"]:checked + label{
    background-color: #1d4c91;
    color:white
}

.blue{
    border-color: #1d4c91;
}

.red{
    border-color: #9d2128;
}

.section > .header{
    display: flex;
    flex-direction: column;
    padding:1rem;
    color:white;
    position: absolute;
    top :-40px;
    align-items: center;

}
.section > .header.blue  {
    background-color: #1d4c91;
}
.section > .header.red  {
    background-color: #9d2128;

}

.flexRow {
    flex-direction: row;
}

.flexColumn {
    flex-direction: column;
}

.section > .header > .title{
    font-size: 2.6rem;
 
    text-transform: uppercase;
}
.section > .header>.subTitle{
    display: flex;
    font-size: 1.6rem;
}


.field{
    display: flex;
    justify-content: space-evenly;
}

body{

    height: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8rem;
    line-height: 2rem;
    
}