@font-face {
    font-family: "lato";
    src: url("font/Lato-Regular.ttf");
}

@font-face {
    font-family: "lato";
    src: url("font/Lato-Bold.ttf");
    font-weight: bold;
}


.card{
    height: 100%;
    border-radius:10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap:10px;

}
#vmaLabel{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100;
    color:white;

}


.bgBlue{
    background-color: #1d4c91;

}

.bgRed{
    background-color: #9d2128;

}

.vmaResult{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 75%;
    color:white;
}

.separator {
    height: 10px;
    width: 100%;
    border: #9d2128 solid 5px;
}

h1{
    margin-inline: auto;
    color:#1d4c91;
    font-weight: bold;
    text-transform: uppercase;

}

.timeResult{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100;
    color:white;
}

.section{
    margin-top: 40px;
    padding-top: 40px;
    padding-inline: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    position:relative;
    align-items: center;
   
}

.sectionContent{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.radioGroup{
    padding:1rem;
    border: black solid 2px;
}

.sectionText{
    padding:5%;
    text-align: justify;
    
}

.logo{
    max-width: 50%;
    margin-inline: auto;
}

input[type="radio"]{
    display: none;
}

input[type="number"],
input[type="text"]
{
 line-height: 2;
 border: #1d4c91 solid 2px;
 color: #1d4c91;
 border-radius: 4px;
 font-size: 1rem;
}
   
input[type="number"]:focus,
input[type="text"]:focus{
    line-height: 2;
    border: #1d4c91 solid 2px;
    border-radius: 4px;
   }

input[type="radio"]:checked + label{
    background-color: #1d4c91;
    color:white
}

input[type="range"]{
    width: 80% ;
    color:#1d4c91 ;
    height: 30px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
     appearance: none;
     background-color: #5cd5eb;
     height: 3rem;
     width: 3rem;    
 }

input[type="range"]::-moz-range-thumb{
  
  /* Centers thumb on the track */
   background-color: #1d4c91;
  
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #1d4c91;
    height: 1rem;
    border-radius:10px;
  }

  input[type="range"]::-moz-range-track {
    background: #1d4c91;
    height: 1rem;
    border-radius:10px;
  }


.blue{
    border-color: #1d4c91;
}

.red{
    border-color: #9d2128;
}

.section > .header{
    display: flex;
    width: 95%;
    flex-direction: column;
    line-height: 1.2;
    padding: 0.2rem;
    color:white;
    position: absolute;
    top :-30px;
   

}
.section > .header.blue  {
    background-color: #1d4c91;
}
.section > .header.red  {
    background-color: #9d2128;

}

.flexRow {
    flex-direction: row;
}

.flexColumn {
    flex-direction: column;
}

.section > .header > .title{
    text-transform: uppercase;
    margin: auto;
}
.section > .header>.subTitle{
    display: flex;
    margin: auto;
    font-size: 0.8rem;
}


.field{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap:1rem;
    width: 100%;

}

.selectContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

}

.vmaLabel {
 
    text-transform: uppercase;
}

label.red{
    color:#9d2128
}

label.blue{
    color:#1d4c91
}

body{
    margin:auto;
    justify-content: center;
    max-width: 500px;
    height: 100%;
    font-family:lato;
    line-height: 1;
    text-align: justify;
    
}

.capital{
    text-transform: uppercase;
}

